{% extends 'base.jinja2' %}


{% block title %}
  {{product_in_shop.product.name}}
{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        <div class="Section">

            <div class="wrap">
                <div class="Product">
                    <div class="ProductCard">

                        <div class="ProductCard-look">
                            <div class="ProductCard-photo">
                                    <img src="{{ product_in_shop.product.image_main.url }}" alt="{{ product_in_shop.image_main }}" />
                            </div>
                            <div class="ProductCard-picts">
                                {% if product_in_shop.images_in_shop %}
                                        <a class="ProductCard-pict ProductCard-pict_ACTIVE" href="{{ product_in_shop.product.image_main.url }} ">
                                            <img src="{{ product_in_shop.product.image_main.url }}"
                                                 alt="{{ product_in_shop.image_main }}" />
                                        </a>
                                    {% for img in product_in_shop.images_in_shop.all() %}
                                        <a class="ProductCard-pict" href="{{ img.image.url }}">
                                            <img src="{{ img.image.url }}" alt="{{ img.image.url }}" />
                                        </a>
                                    {%  endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="ProductCard-desc">
                            <div class="ProductCard-header">
                                <h2 class="ProductCard-title">{{ product_in_shop.product.name }}
                                </h2>
                                <div class="ProductCard-info">

                                    <div class="ProductCard-cost">
                                        {% if product_in_shop.product_discount.all() %}
                                            {% for discount in product_in_shop.product_discount.all() %}
                                                {% if discount.get_price_product() %}
                                                    <div class="Card-cost"><span class="Card-priceOld"><s>{{product_in_shop.price}}</s> </span></div>
                                                    <div class="Card-cost"><span class="Card-price">{{discount.get_price_product()}} </span></div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                             <div class="Card-cost"><span class="Card-price">{{product_in_shop.price}} </span></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="ProductCard-text">
                                <ul>
                                    <li>{{ product_in_shop.product.description }}
                                    </li>
                                </ul>
                            </div>
                            {% if product_in_shop.shop.image %}
                            <div class="ProductCard-info">
                                <div class="ProductCard-cost">
                                    <img class="ProductCard-shop_logo" src="{{ product_in_shop.shop.image.url }}"
                                         alt="{{ product_in_shop.shop.image }}" />
                                </div>
                            </div>
                            {% else %}
                            <div class="ProductCard-info">
                                <div class="ProductCard-cost">
                                    <div class="ProductCard-title">Продавец: {{ product_in_shop.shop }}</div>
                                </div>
                            </div>
                            {% endif %}
                            {% if product_in_shop.available %}
                                    <form class="form" action="{{ url('app_cart:cart_add', product_in_shop_id=product_in_shop.id) }}"
                                          method="post">
                                        {% csrf_token %}


                            <div class="ProductCard-cart">
                                <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                                    <div class="Amount Amount_product">
                                        <button class="Amount-remove" type="button">
                                        </button>
                                        <input class="Amount-input form-input" name="quantity" type="text" value="1" />
                                        <button class="Amount-add" type="button">
                                        </button>
                                    </div>
                                </div>
                                <div class="ProductCard-cartElement">
                                    <button class="btn btn_primary" href="#modal_open"><img class="btn-icon" src="{{ static ('assets/img/icons/card/cart_white.svg') }}" alt="cart_white.svg" />купить</button>
                                </div>
                                <div id="modal_open" class="my_modal">
                                    <div class="my_modal-dialog">
                                        <div class="my_modal-content">
                                            <div class="my_modal-header">
                                                <p class="my_modal-title">Поздравляем!</p>
                                                <a href="#" title="Закрыть модальное окно" class="close">×</a>
                                            </div>
                                            <div class="my_modal-body">
                                                <p>Товар успешно добавлен в корзину!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    </form>
                            {% else %}
                                <h2> Товар недоступен для заказа </h2>
                            {% endif %}
                            <div class="ProductCard-footer">
                                <div class="ProductCard-tags">
                                    <strong class="ProductCard-tagsTitle">Тэги:
                                    </strong><a href="#">Аксессуары</a>,<a href="#">Дизайн</a>,<a href="#">Игры</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs Tabs_default">
                        <div class="Tabs-links">
                            <a class="Tabs-link_ACTIVE Tabs-link" href="#description"><span>Описание</span></a>
                            <a class="Tabs-link" href="#addit"><span>Характеристика</span></a>
                            <a class="Tabs-link" href="#reviews"><span>Отзывы({{product_in_shop.comments.count()}})</span></a>
                        </div>
                        <div class="Tabs-wrap">
                            <div class="Tabs-block" id="description">
                                <h2>Описание {{ product_in_shop.product.name }}
                                </h2>
                                <p>{{ product_in_shop.product.description }}
                                </p>
                                <img class="pict pict_right" src="{{ product_in_shop.product.image_main.url }}"
                                     alt="{{ product_in_shop.image_main }}" />
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetuer
                                    </li>
                                    <li>adipiscing elit doli.&#32;<em>Aenean</em>&#32;commodo ligula
                                    </li>
                                    <li>eget dolor. Aenean massa. Cumtipsu sociis
                                    </li>
                                    <li>natoque penatibus et magnis dis parturient
                                    </li>
                                    <li>montesti, nascetur ridiculus mus. Donec
                                    </li>
                                    <li>quam felis, ultricies nec, pellentesque eutu
                                    </li>
                                </ul>
                                <div class="clearfix">
                                </div>
                                <div class="table">
                                    <table>
                                        <tr>
                                            <th>Характеристика
                                            </th>
                                            <th>Значение
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>Категория
                                            </td>
                                            <td>{{ product_in_shop.product.category.name }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Подкатегория
                                            </td>
                                            <td>{{ product_in_shop.product.subcategory.name }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="Tabs-block" id="sellers">
                                <div class="Categories Categories_product">
                                </div>
                            </div>

                            <div class="Tabs-block" id="addit">
                                <div class="Product-props">
{#                                    {% if product_in_shop.product.specification.subspecification %} }}#}
                                      {% if specifications %}
{#                                    {% for specif in product_in_shop.product.specification.subspecification.all() %}#}
                                      {% for specif in specifications %}
                                    <div class="Product-prop">
                                        <strong> {{ specif.name_subspecification }}
                                        </strong><span> {{ specif.text_subspecification }}</span>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                        <h2> Нет характеристик у товара</h2>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="Tabs-block" id="reviews">
                                <header class="Section-header">
                                    <h3 class="Section-title">{{product_in_shop.comments.count()}} отзывов
                                    </h3>
                                </header>
                                <div class="Comments">
                                    <div class="Comment">
                                        <div class="Comment-column Comment-column_pict">
                                            <div class="Comment-avatar">
                                            </div>
                                        </div>
                                        <div class="Comment-column">
                                            {% if product_in_shop.comments %}
                                            {% for comment in product_in_shop.comments.all() %}
                                                <header class="Comment-header">

                                                    <div>
                                                        <strong class="Comment-title">{{comment.user.username}}
                                                        </strong><span class="Comment-date">{{comment.updated.strftime("%Y-%m-%d %H:%M:%S") }}</span>
                                                    </div>
                                                 </header>
                                                <div class="Comment-content">{{comment.comment}}</div>
                                            {% endfor %}
                                            {% else %}
                                                <h3> Еще нет отзывов к товару</h3>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                         {% if get_messages(request) %}
                                          {% for message in get_messages(request) %}
                                            <h3 ="red">
                                              <font color="red"> <strong>{{message}}</strong> </font>
                                            </h3>
                                         {% endfor %}
                                        {% endif %}
                                <header class="Section-header Section-header_product">
                                    <h3 class="Section-title">Добавить отзыв
                                    </h3>
                                </header>
                                <div class="Tabs-addComment">
                                    <form class="form" action="#" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <textarea class="form-textarea" name="review" id="review" placeholder="Отзыв"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn_muted" type="submit" name="send_comment">Отправить отзыв</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

