{% extends 'base.jinja2' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

            <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">Восстановление пароля (1/2)</h3>
                    <h5>Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись</h5>
                </div>

    {% if get_messages(request) %}
        {% for message in get_messages(request) %}
            <div class="Profile-success">
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% else %}

                <form action="#" method="POST">
                    {% csrf_token %}

                    <div>
                        <input class="user-input" type="email" name="email" id="name" placeholder="E-mail" />
                        <a style="color:red;">{{ form.email.errors }}</a>
                    </div>
                    <div>
                        <input type="submit" value="Получить проверочный код" />
                    </div>
                    <a class="registr" href={{ url("app_users:login") }}>
                        Вход
                    </a>
                </form>
            </div>
    {% endif %}
{% endblock %}