{% extends 'base.jinja2' %}

{% block title %}
   Login
{% endblock %}

{% block body %}

            <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">Вход</h3>
                </div>
                <div class="clear"></div>
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        <input class="user-input" type="text" name="username" id="name" placeholder="E-mail" />
                    </div>
                    <div>
                        <input type="password" name="password" id="name" placeholder="*********" />
                        {% for error in form.non_field_errors() %}
                            <b style="color:red;">{{ error }}</b>
                        {% endfor %}
                    </div>
                    <div>
                        <button type="submit">Войти</button>
                    </div>
                    <a class="forgot-label" href={{ url("app_users:password_reset") }}>Забыли пароль?</a>
                    <a class="registr" href={{ url("app_users:register") }}>
                        Регистрация
                    </a>
                </form>
            </div>

{% endblock %}
