{% extends 'base.jinja2' %}

{% block title %}
   Register
{% endblock %}

{% block body %}

            <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">Регистрация</h3>

                </div>
                <div class="clear"></div>
                <form method="post">
                {% csrf_token %}

                    <div>
                        <input class="user-input" type="text" name="username" id="name" placeholder="Имя"
                        {% if form.is_bound %} value="{{ form.username.value() }}"{% endif %}/>
                        <b style="color:red;">{{ form.username.errors }}</b>
                    </div>
                    <div>
                        <input class="user-input" type="email" name="email" id="name" placeholder="E-mail"
                        {% if form.is_bound %} value="{{ form.email.value() }}"{% endif %}/>
                        <b style="color:red;">{{ form.email.errors }}</b>

                    </div>
                    <div>
                        <input class="user-input" type="tel" name="phone_number" id="name" placeholder="Телефон"
                        {% if form.is_bound %} value="{{ form.phone_number.value() }}"{% endif %}/>
                        <b style="color:red;">{{ form.phone_number.errors }}</b>

                    </div>
                    <div>
                        <input type="password" name="password1" id="name" placeholder="Пароль" />
                        <b style="color:red;">{{ form.password1.errors }}</b>

                    </div>
                    <div>
                        <input type="password" name="password2" id="name" placeholder="Повторите пароль" />
                        <b style="color:red;">{{ form.password1.errors }}</b>

                        {% for error in form.non_field_errors() %}
                            <b style="color:red;">{{ error }}</b>
                        {% endfor %}
                    </div>
                        <button type="submit">Зарегистрироваться</button>

                    <a class="registr" href={{ url("app_users:login") }}>
                        Вход
                    </a>

                    <div class="clear"></div>
                </form>
            </div>



{% endblock %}








